include header

style.
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  .card {
    background-color: #86c9d5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 8px;
    font-weight: bold;
  }

  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }

  .delete-btn {
    background-color: red;
    color: #fff;
    cursor: pointer;
  }

  .delete-btn:hover {
    background-color: #ff5555;
  }

  p.success,
  p.error {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
  }

  .success {
    color: green;
  }

  .error {
    color: red;
  }

  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: #0056b3;
  }

block content
  .card
    h1 Update Hobby
    form(action=`/update-hobby/${hobbyId}` method='POST')
      label(for='hobbies') Select your hobby:
      select(name='hobbies', style='color: black;', onchange='logSelectedValue(this)')
        if hobbies
          each hobby in hobbies
            option(value=hobby.hobby_name, selected=hobby.hobby_name === selectedHobby)= hobby.hobby_name
      label(for='location') Enter your location:
      input(name='location' value=selectedLocation)
      input(type='submit' value='Update')

      // Success message
      if successMessage
        p.success= successMessage

      // Error message
      if errorMessage
        p.error= errorMessage

    a(href=`/delete-hobby/${hobbyId}`, class='delete-btn') Delete
  script.
    function logSelectedValue(selectElement) {
      var selectedValue = selectElement.options[selectElement.selectedIndex].value;
      console.log('Selected Hobby:', selectedValue);
    }
    
