include header

block content
  .search-container
    select(id='hobbiesDropdown')
      option(value='all') All Hobbies
      each hobby in data1
        option(value=`${hobby.hobby_name.toLowerCase()}`)= hobby.hobby_name
    input(type='text', id='searchInput', placeholder='Search by User...')
    button(onclick='filterTable()')
      i(class='fa fa-search')

  table#dataTable
    thead
      tr
        th S No
        th USER
        th Hobbies
        th Location
    tbody
      each item in data
        tr(onclick=`openTemplate('${item.id}')`)
          td= item.id
          td= item.user
          td= item.hobbies
          td= item.location

  script.
    function filterTable() {
      var dropdown = document.getElementById('hobbiesDropdown');
      var selectedHobby = dropdown.value.toLowerCase();

      var input = document.getElementById('searchInput');
      var searchTerm = input.value.toLowerCase();

      var table = document.getElementById('dataTable');
      var rows = table.getElementsByTagName('tr');

      for (var i = 1; i < rows.length; i++) {
        var currentHobby = rows[i].getElementsByTagName('td')[2].innerText.toLowerCase();
        var currentUser = rows[i].getElementsByTagName('td')[1].innerText.toLowerCase();

        var hobbyMatch = selectedHobby === 'all' || currentHobby === selectedHobby;
        var searchMatch = currentUser.includes(searchTerm);

        if (hobbyMatch && searchMatch) {
          rows[i].style.display = '';
        } else {
          rows[i].style.display = 'none';
        }
      }
    }

    function openTemplate(sNo) {
      window.location.href = `/details/${sNo}`;
    }
